<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Permisos -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmpresaClientes"
        tools:targetApi="31" >
        <activity
            android:name=".VentasUser.ListaDeLaCompraUser"
            android:exported="false" />
        <activity
            android:name=".VentasAdmin.ListaDeLaCompraAdmin"
            android:exported="false" />
        <activity
            android:name=".VentasAdmin.ProductosVentasAdmin"
            android:exported="false" />
        <activity
            android:name=".ProductosAdmin.Item"
            android:exported="false" />
        <activity
            android:name=".ProductosAdmin.MyAdapter"
            android:exported="false" />
        <activity
            android:name=".Menus.SeleccionImagenUser"
            android:exported="false" />
        <activity
            android:name=".ClientesUser.DetallesClientesUser"
            android:exported="false" />
        <activity
            android:name=".ClientesUser.ClientesUser"
            android:exported="false" />
        <activity
            android:name=".ClientesAdmin.ClientesAdmin"
            android:exported="false" />
        <activity
            android:name=".ClientesAdmin.DetallesClientesAdmin"
            android:exported="false" />
        <activity
            android:name=".Menus.SeleccionImagenAdmin"
            android:exported="false" />
        <activity
            android:name=".Modificar.AnadirCliente"
            android:exported="false" />
        <activity
            android:name=".Modificar.ModificarCliente"
            android:exported="false" />
        <activity
            android:name=".Direccion.Comunidad"
            android:exported="false" />
        <activity
            android:name=".Direccion.Provincia"
            android:exported="false" />
        <activity
            android:name=".Modificar.ModifyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Modificar.ListViewActivityModify"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.empresaclientes.ListViewActivityAdmin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductosUser.ProductosUser"
            android:exported="false" />
        <activity
            android:name=".ProductosAdmin.ProductosAdmin"
            android:exported="false" />
        <activity
            android:name=".VentasUser.ProductosVentasUser"
            android:exported="false" />
        <activity
            android:name=".VentasUser.ListViewActivityVentasUser"
            android:exported="false" />
        <activity
            android:name=".VentasAdmin.ListViewActivityVentasAdmin"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.empresaclientes.ListViewActivityUser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menus.LoginActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menus.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Menus.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>